<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="net.macaronics.mapper.memberMapper">
  
  <!-- 	DB 시간정보 물러오기 -->
	<select id="getTime" resultType="string">
	  <![CDATA[ select now() ]]>
	</select>
	
	<!-- 	멤버 생성 -->
	<insert id="createMember">
	insert INTO TBL_MEMBER (userid, userpw, username, email) 

		  values (#{userid}, #{userpw}, #{username}, #{email} )
	</insert>
	
	<!-- 	회원 한명 정보 불러오기  -->
	<select id="getReadMember" resultType="net.macaronics.web.domain.MemberVO">
		select * from TBL_MEMBER where userid=#{userid} and userpw=#{userpw}
	</select>
	
	<!-- 	회원 목록 출력 -->
	<select id="readListMember" resultType="net.macaronics.web.domain.MemberVO">
		select * from TBL_MEMBER 
	</select>
	
	<!-- 	회원 업데이트 -->
	<update id="updateMember">
	    update TBL_MEMBER SET  userpw=#{userpw}, email=#{email}, username=#{username} where userid=#{userid}
	</update>
	
	
	<!-- 	회원 삭제 -->
	<delete id="deleteMember">
	  delete from TBL_MEMBER WHERE  userid=#{userid}
	</delete>
	
	
	<select id="getCount" resultType="int">
		select count(*) from TBL_MEMBER
	</select> 
	
	
	
	
	
</mapper>